#countdown {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: darkblue;
    color: white;
    border: 2px solid #ccc;
    width: 200px;
    margin: 20px auto;
}

button {
    padding: 10px 15px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

#startButton {
    background-color: lightgreen;
}

#pauseButton {
    background-color: lightpink;
}

#customTime {
    font-size: 20px;
}
